.speech {
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    color:black;
}
.NATASHA:hover {
    text-shadow: 2px 2px 5px rgb(88, 96, 171,0.9);
    border: 2px solid rgb(168, 62, 136);
    padding: 5px;
}

.direction {
    font-family:'Times New Roman', Times, serif;
    font-size:15px;
    color: black;
    background-color: aliceblue;
    transition: background-color 0.4s,color 0.4s;
}
.direction:hover{
    background-color: blanchedalmond;
    color:maroon;
}
.name{
    font-weight:bolder;
}
.NATASHA{
    color: brown;
}
.ANDREY{
    color: cyan;
}
.table{
    width: 100px;
}
table, th, td{
    border:1px solid black;
    padding: 8px;
}
td{
    text-align: center;
}
th{
    background-color: lightpink;
}
td{
    background-color: lightgreen;
}